#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul{
        display: flex;
        
        li{
            margin: 2em;

            a{
                color: $white-medium;
                font-size: 1.2em;
                text-transform: capitalize;
                transition: opacity 200ms ease-in-out;            }

            &:hover{
                opacity: 0.9;
            }
        }
    }
}

#welcome-section{
    padding: 12vh 2rem 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 3em;
        text-transform: capitalize;
        //border: 1px solid red;
        text-align: center;

        
    }

    p{
        letter-spacing: 2px;
        margin-top: 0.5em;
        font-size: 1.2em;
        //border: 1px solid red;
    }
}

#projects{
    background-color: $white-medium;
    padding: 2em 0 6em;

    h2{
        text-align: center;
        font-size: 2em;
        padding: 2em 0 0.8em;
    }

    .project-tiles{
        display: grid;
        gap: 4em;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        //grid-template-rows: repeat(auto-fill, minmax(300px, 310px));

        .project-tile{
            text-align: center;

            .img-div{
                //border:1px solid red;
                width: 100%;
                height:300px;
    
                img{
                    display: block;
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    object-fit: cover;
                }
        
            }
    
        }
        
    }
}

#social{
    padding: 1em;
    background-color: crimson;
    text-align: center;

    i, p, .footer{
        color: $white;
    }
    
    .footer{
        display: block;
        margin-top: 2em;
    }
}